/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {	
	margin: 0;	
	padding: 0;	
	border: 0;	
	font-size: 100%;	
	font: inherit;	
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	
	display: block;
}

body {	
	line-height: 1.5;
}

ol, ul {	
	list-style: none;
}

blockquote, q {	
	quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {	
	content: '';	
	content: none;
}

table {	
	border-collapse: collapse;	
	border-spacing: 0;
}

strong {
	font-weight: bold;
}

/* end reset */

/* default styles--applies to mobile, tablet, and desktop */

body, html {
	background-color: black;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p { /* takes the place of wrapper*/
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

p {
	font-size: 1.2em;
	font-family: 'Libre Franklin', sans-serif;
}

.ah {
	background-image: url("img/atoz.png");
	height: 30%;
	background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 200%;
}

.about-ah {
	background-image: url("img/ladder2.png");
	height: 30%;
	background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 200%;
}

header {
}

.bh {
	background-image: url("img/atoz.png");
	height: 40%;
	background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 200%;
}

.about-bh {
	background-image: url("img/ladder2.png");
	height: 35%;
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

/* for later on, to figure out how to have text on the bg layer----------------------------------------------------
#test {
	position: fixed;
	top: 40%;
	right: 20%;
	left: 20%;
	bottom: 20%;
	margin: 0 auto;
}
*/d

#story1 {
}

#about-story1 {
}

.b1 {
	background-image: url("img/cat.png");
	height: 100%;
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

.about-b1 {
	background-image: url("../portfolio/img/test.png");
	height: 50%;
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#story2 {
}

.b2 {
	background-image: url("img/atoz2.png");
	height: 100%;
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

.about-b2 {
	background-image: url("../portfolio/img/oregon-coast-skyline.jpg");
	height: 85%;
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

#story3 {
}

.b3 {
	background-image: url("img/yelp.png");
	height: 100%;
	background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 200%;
}

#story4 {
}

.b4 {
	background-image: url("img/ladder.png");
	height: 100%;
	background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
}

#story5 {
}

.b5 {
	background-image: url("img/drivers-installers.png");
	height: 100%;
	background-attachment: scroll;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 200%;
}

#call-to-action {
	padding-bottom: 5%;
	max-width: 900px;
	margin: 0 auto;
}

#map {
	position: relative;
	width: 80%; /* need a place to scroll outside the map */
	padding-top: 80%; /* 1:1 aspect ratio */
	margin: 5% auto 0 auto;
}

#map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

footer {
}

.fg {
	background-color: black;
	color: white;
	padding-bottom: 2%;
}

.bg {
}

a:link, a:visited {
	color: white;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus {
	color: gray;
	cursor: pointer;
}

/* start of query for landscape mobile screens */

@media only screen and (min-width: 415px) and (max-width: 749px) {
	
	.ah {
		height: 30%;
		background-size: 100%;
	}

	.about-ah {
		height: 30%;
		background-size: 100%;
	}

	.bh {
		height: 80%;
		background-size: 100%;
	}

	.about-bh {
		height: 35%;
		background-size: 100%;
	}

	.b1 {
		height: 100%;
		background-size: 100%;
	}
	
	.about-b1 {
		height: 140%;
		background-position: top;
		background-size: 100%;
	}

	.b2 {
		height: 100%;
		background-size: 100%;
	}
	
	.about-b2 {
		height: 135%;
		background-size: 100%;
	}

	.b3 {
		height: 100%;
		background-size: 100%;
	}

	.b4 {
		height: 100%;
		background-size: 100%;
	}

	.b5 {
		height: 100%;
		background-size: 100%;
	}
	
/* end landscape mobile media query */
}

/* start of query for tablet-size screens */

@media only screen and (min-width: 750px) and (max-width: 899px) {
	
	.ah {
		height: 30%;
		background-size: 150%;
	}

	.about-ah {
		height: 30%;
		background-size: 150%;
	}

	.bh {
		height: 50%;
		background-size: 150%;
	}

	.about-bh {
		height: 50%;
		background-size: 150%;
	}

	.b1 {
		height: 80%;
		background-size: 150%;
	}
	
	.about-b1 {
		height: 65%;
		background-position: top;
		background-size: 100%;
	}

	.b2 {
		height: 80%;
		background-size: 150%;
	}
	
	.about-b2 {
		height: 85%;
		background-size: 150%;
	}

	.b3 {
		height: 82%;
		background-size: 150%;
	}

	.b4 {
		height: 85%;
		background-size: 150%;
	}

	.b5 {
		height: 85%;
		background-size: 150%;
	}
	
/* end tablet media query */
}

/* start of query for landscape tablet-size screens */

@media only screen and (min-width: 900px) and (max-width: 1099px) {
	
	.ah {
		height: 25%;
		background-size: 100%;
	}

	.about-ah {
		height: 35%;
		background-size: 100%;
	}

	.bh {
		height: 65%;
		background-size: 100%;
	}

	.about-bh {
		height: 48%;
		background-size: 100%;
	}

	.b1 {
		height: 80%;
		background-size: 100%;
	}
	
	.about-b1 {
		height: 115%;
		background-position: top;
		background-size: 100%;
	}

	.b2 {
		height: 80%;
		background-size: 100%;
	}
	
	.about-b2 {
		height: 90%;
		background-position: top;
		background-size: 100%;
	}

	.b3 {
		height: 78%;
		background-size: 100%;
	}

	.b4 {
		height: 82%;
		background-size: 100%;
	}

	.b5 {
		height: 83%;
		background-size: 100%;
	}
	
/* end landscape tablet media query */
}

/* start of query for desktop-size screens */

@media only screen and (min-width: 1100px) {
	
	.ah {
		height: 35%;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}

	.about-ah {
		height: 30%;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}

	.bh {
		height: 45%;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}

	.about-bh {
		height: 50%;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}

	.b1 {
		height: 80%;
		background-attachment: fixed;
		background-size: cover;
	}
	
	.about-b1 {
		height: 80%;
		background-position: top;
		background-attachment: fixed;
		background-size: cover;
	}

	.b2 {
		height: 80%;
		background-attachment: fixed;
		background-size: cover;
	}
	
	.about-b2 {
		height: 80%;
		background-position: center;
		background-attachment: fixed;
		background-size: cover;
	}

	.b3 {
		height: 80%;
		background-attachment: fixed;
		background-size: cover;
	}

	.b4 {
		height: 80%;
		background-attachment: fixed;
		background-size: cover;
	}

	.b5 {
		height: 80%;
		background-attachment: fixed;
		background-size: cover;
	}
	
/* end desktop media query */
}